# Local/private config goes in the include
[include]
        path = ~/.config/.gitconfig.local
[color]
        diff = auto
        status = auto
        branch = auto
        ui = true
[core]
        excludesfile = ~/.gitignore
        editor = subl -n -w
[mergetool]
        keepBackup = false
[help]
        autocorrect = 1
[push]
        # See `git help config` (search for push.default)
        # for more information on different options of the below setting.
        #
        # Setting to git 2.0 default to suppress warning message
        default = simple
[alias]
	last = log -1 HEAD
	co = checkout
	st = status
	uncommit = reset --soft HEAD~
	unstage = reset HEAD --
	lg = log --graph --abbrev-commit --decorate --date=relative --all
[filter "lfs"]
	required = true
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
[user]
	name = Jethro Kuan
	email = jethrokuan95@gmail.com
[github]
	user = jethrokuan
	oauth-token = 557a383f5022acd5afbbd5564b63ac7f5a8f466e
