**/sec/**/*.zsh
**/sec/**/*.zshenv
*.sec*
.DS_Store
.gitsecret
/bin/
!README.md
!*example
/emacs/.emacs.d/auto-save-list/
/emacs/.emacs.d/elpa/
/fish/.config/fish/**
!/fish/.config/fish/functions/fisher.fish
!/fish/.config/fish/fishfile
!/fish/.config/fish/config.fish
/emacs/.emacs.d/history
/emacs/.emacs.d/recentf
/emacs/.emacs.d/projectile-bookmarks.eld
/emacs/.emacs.d/.mc-lists.el
/emacs/.emacs.d/org-gcal/
/emacs/.emacs.d/secrets.el
/emacs/.emacs.d/eshell/
/ncmpcpp/.ncmpcpp/error.log
/emacs/.emacs.d/places
