! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
rofi.color-enabled: true
! first two color-window were a013191c
! a6 = 65% amount of black needed over white for white to be a 7 contrast score
! b3 = 70%
! 80 = 50%
rofi.color-window: argb:a6000000, argb:a6000000, argb:0000000 
rofi.color-normal: argb:0fdf6e3, #ffffff, argb:0eee8d5, #009688, #ffffff 
rofi.color-active: #fdf6e3, #268bd2, #eee8d5, #268bd2, #fdf6e3 
rofi.color-urgent: #fdf6e3, #dc322f, #eee8d5, #dc322f, #fdf6e3
rofi.line-margin: 31
rofi.font: Iosevka 24
rofi.padding: 168
rofi.fullscreen: true

! Zenburn color-scheme
URxvt.background              :#3f3f3f
URxvt.foreground              :#dcdccc

! black + red
!URxvt.color0                 :#3f3f3f
URxvt.color0                  :#1f1f1f
URxvt.color1                  :#705050

! green + yellow
URxvt.color2                  :#60b48a
URxvt.color3                  :#dfaf8f

! blue + purple
URxvt.color4                  :#506070
URxvt.color5                  :#dc8cc3

! cyan + white
URxvt.color6                  :#8cd0d3
URxvt.color7                  :#dcdccc

! bright-black + bright-red
URxvt.color8                  :#709080
URxvt.color9                  :#dca3a3

! bright-green + bright-yellow
URxvt.color10                 :#c3bf9f
URxvt.color11                 :#f0dfaf

! bright-blue + bright-purple
URxvt.color12                 :#94bff3
URxvt.color13                 :#ec93d3

! bright-cyan + bright-white
URxvt.color14                 :#93e0e3
URxvt.color15 :#ffffff

Xft*antialias:		true
Xft*autohint:		true
Xft*dpi:		92

URxvt*termName:		rxvt-unicode-256color
URxvt*scrollTtyOutput: false
URxvt*scrollTtyKeypress: true
URxvt*scrollWithBuffer: true
URxvt*saveLines: 3000

URxvt*loginShell: true
Urxvt*secondaryScroll:  true
URxvt*secondaryWheel: true
URxvt*cursorUnderline: false
URxvt*font: xft:DejaVu Sans Mono:size=10:autohint=true
!URxvt.transparent: false
URxvt*borderless: true
!URxvt.shading: 35
URxvt*depth: 32

URxvt*urgentOnBell:	true
URxvt*scrollBar_right:	true
URxvt*scrollstyle:	plain

! urxvt

!-*- Perl extensions -*-
! stored in ~/.urxvt/ext/
URxvt.perl-ext-common: font-size,tabbed
URxvt.url-launcher:   firefox
URxvt.underlineURLs:  True
URxvt.matcher.button: 1

! font-size
URxvt.keysym.C-Up:     perl:font-size:increase
URxvt.keysym.C-Down:   perl:font-size:decrease
URxvt.font-size.step:  2
! disable default binding for shift on urxvt
! URxvt.iso14755:        false
! URxvt.iso14755_52: false

XTerm*alternateScroll:	true
XTerm*charClass:	33:48,37-38:48,45-47:48,64:48,58:48,126:48,61:48,63:48,43:48,35:48
XTerm*fullscreen:	never
XTerm*metaSendsEscape:	true
XTerm*scrollKey:	true
XTerm*background:	bg
XTerm*foreground:	fg
XTerm*cursorColor:	fg
XTerm*faceName:		xft:DejaVu Sans Mono:size=9:antialias=true
XTerm*termName:		xterm-256color
XTerm*utf8:		1
Xterm*borderWidth:	0
XTerm*toolBar:		off
XTerm*VT100.translations: #override <Btn1Up>: select-end(PRIMARY, CLIPBOARD, CUT_BUFFER0)
